* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: #0d87b8;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.logo span {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}



/* Contact Section */
.contact-info {
    padding: 80px 60px;
    text-align: center;
}

.contact-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-info p {
    color: #64748b;
    margin-bottom: 50px;
}

/* Cards */
.contact-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.contact-card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 14px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.contact-card:hover {
    transform: translateY(-10px);
}

.contact-card i {
    font-size: 36px;
    color: #38bdf8;
    margin-bottom: 15px;
}

.contact-card h3 {
    margin-bottom: 10px;
}

.contact-card a {
    text-decoration: none;
    color: #020617;
    font-weight: 500;
}

.contact-card a:hover {
    color: #38bdf8;
}

/* Footer */
.footer {
    position: relative;
    padding: 5px;
    text-align: center;
    background: #0786ad;
    color: #fff;
    font-size: 14px;
    margin-top: 160px;
    clear: both;
}